body {
  font-family: helvetica, sans-serif;
  text-align: center;
}

#container {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 940px;
}

.home-link a {
  text-decoration: none;
}

.date-header {
  font-size: 10pt;
  font-weight: normal;
  color: #999;
}

.title-header {
  margin-top: 0px;
  font-family: 'century gothic', sans-serif;
  font-weight: normal;
}

.title-header a {
  text-decoration: none;
}
