---
layout: default
title: Alistair Jones
---

<div id="home">

  {% for post in site.posts limit: 5 %}
    <div class="front">
      <h2 class="date-header">{{ post.date | date:"%A, %e %B %Y" }}</h2>
      <h2 class="title-header"><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {{ post.content }}
    </div>
  {% endfor %}

  <h1>Older Posts</h1>
  <ul class="posts">
    {% for post in site.posts offset:5 %}
      <li><span class="post_date">{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

</div>
